body {padding-left: 300px;}

h1 {color: #602; margin-left: -250px;}

.subhead {display: block; margin-top: -60px; margin-bottom: 20px;}

.backronym {color: #602; font-weight: bold;}

#left {width: 250px; position: fixed; left: 0; top: 80px; bottom: 0; background-color: #cdc; padding: 10px;}

svg {float: left; margin-right: 5px;}

path.domain {}

.axis path, path.border {
  shape-rendering: crispEdges;
  stroke: #000;
  fill: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.boundary {stroke-width: 1; stroke-dasharray: 1,2; shape-rendering: crispEdges;}

.cell.hover {fill: #66d;}

.cutoff {fill: rgba(0,0,0,0.3); shape-rendering: crispEdges; stroke: #000;}

.slider {fill: rgba(0,0,0,0.3); shape-rendering: crispEdges; stroke: rgba(200,200,200,.5);}

.tooltip {position: absolute; z-index: 10; display: none; margin-top: -40px; margin-left: -50px; font-family: sans; color: #fff; background-color: rgba(0,0,0,0.5); padding: 5px;}
