body {padding-left: 300px;}

h1 {color: #602; margin-left: -250px;}

.subhead {display: block; margin-top: -60px; margin-bottom: 20px;}

.backronym {color: #602; font-weight: bold;}

#left {width: 250px; position: fixed; left: 0; top: 80px; bottom: 0; background-color: #cdc; padding: 10px;}

svg {float: left; margin-right: 5px;}

path.domain {}

.axis path {
  shape-rendering: crispEdges;
  stroke: #000;
  fill: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.cell.hover {fill: #66d;}
